* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: $font-accent;
  color: $color-black;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: $bp-tablet) {
    max-width: 744px;
  }

  @media (min-width: $bp-desktop) {
    max-width: 1260px;
    padding: 0 120px;
  }
}
