@import 'variable';

.contact {
  padding: 0 20px;
  color: $color-main-dark;

  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
    margin-bottom: 48px;
  }

  &__content {
    @media (min-width: $bp-tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        'block1 form'
        'block2 form';
      column-gap: 24px;
      padding: 0 72px;
    }

    @media (min-width: $bp-desktop) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: 'block1 block2 form';
    }
  }

  &__block {
    margin-bottom: 48px;

    &:first-of-type {
      @media (min-width: $bp-tablet) {
        grid-area: block1;
        margin-bottom: 0;
      }
    }

    &:last-of-type {
      @media (min-width: $bp-tablet) {
        grid-area: block2;
        margin-bottom: 0;
      }
    }

    &-title {
      font-weight: 700;
      font-size: 16px;
      line-height: 27px;
      margin-bottom: 16px;
    }
  }

  &__info {
    margin-bottom: 48px;

    &-phone {
      font-weight: 400;
      font-size: 14px;
      line-height: 27px;
    }

    &-number {
      font-weight: 700;
      font-size: 16px;
      line-height: 27px;
      margin-bottom: 4px;
    }

    &-address {
      font-weight: 400;
      font-size: 14px;
      line-height: 27px;
    }

    &-text {
      font-weight: 700;
      font-size: 16px;
      line-height: 27px;
    }
  }

  &__form {
    flex-direction: column;
    margin-top: 20px;

    @media (min-width: $bp-tablet) {
      display: grid;
      grid-area: form;
      align-self: start;
      margin-top: 0;
    }
  }

  &__input {
    width: 100%;
    margin-bottom: 16px;
    height: 48px;
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    background-color: $color-input-bg;
    color: $color-main-dark;
    padding: 14px 16px;
    border: none;
    transition: border-color 0.2s ease;

    &::placeholder {
      color: #7e7e83;
    }

    &:hover {
      border: 1px solid $color-main-dark;
    }

    &:focus {
      outline: none;
      border-color: $color-main-dark;
    }
  }

  &__textarea {
    width: 100%;
    margin-bottom: 32px;
    height: 144px;
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    background-color: $color-input-bg;
    color: #7e7e83;
    padding: 14px 16px;
    border: none;
    transition: border-color 0.2s ease;

    &::placeholder {
      color: #7e7e83;
    }

    &:hover {
      border-color: #d5d7de;
    }

    &:focus {
      outline: none;
      border-color: $color-main-dark;
    }
  }

  &__button {
    width: 100%;
    height: 56px;
    margin-bottom: 100px;
    background-color: #d12d35;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    align-items: center;
    color: #fff;
    border: 1px solid transparent;
    font-family: Cinzel, serif;

    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: $color-accent-hover;
    }

    &:active {
      background-color: $color-accent-pressed;
    }
  }
}
