@import 'variable';

.explore {
  margin: 20px auto 100px;
  padding: 0 20px;

  &__title {
    text-align: center;
    color: $color-main-dark;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
    margin-bottom: 40px;
  }

  &__list {
    @media (min-width: $bp-desktop) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: $grid-gutter;
    }
  }

  &__card-image {
    margin-bottom: 24px;
    overflow: hidden;

    & img {
      display: block;
      width: 100%;
      height: auto;
      aspect-ratio: 280 / 277;
      object-fit: cover;
    }
  }

  &__description {
    text-align: center;
    margin: 0 auto 48px;

    &-title {
      font-weight: 700;
      font-size: 24px;
      line-height: 140%;
      color: $color-accent;
      margin-bottom: 4px;
    }

    &-text {
      text-align: center;
      color: $color-main-dark;
      font-weight: 400;
      font-size: 16px;
      line-height: 27px;
      margin-bottom: 48px;
    }
  }
}
