@import 'variable';

.header {
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 24px 16px 60px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-image: url('../images/header-bg-mobile.png');

  @media (min-width: $bp-tablet) {
    background-image: url('../images/header-bg.png');
    padding: 32px 40px 80px;
  }

  @media (min-width: $bp-desktop) {
    padding: 32px $grid-margin-desktop 100px;
  }

  &__logo {
    display: block;
    width: 70px;
    height: auto;

    @media (min-width: $bp-tablet) {
      width: 87px;
    }
  }

  &__bottom {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    color: $color-white;
    font-family: $font-accent;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    letter-spacing: -1.5px;
    max-width: 280px;

    @media (min-width: $bp-tablet) {
      font-size: 64px;
      line-height: 64px;
      max-width: 392px;
    }

    @media (min-width: $bp-desktop) {
      font-size: 80px;
      line-height: 80px;
      max-width: 498px;
    }
  }
}
