@import 'variable';

.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;

  @media (min-width: $bp-tablet) {
    width: 32px;
    height: 32px;
  }

  &--phone {
    background-image: url('../icons/icon-phone-call.png');
  }

  &--burger {
    background-image: url('../icons/icon-burger-menu.png');

    &:hover {
      background-image: url('../icons/icon-burger-menu-pressed.png');
    }
  }

  &--close {
    position: relative;
    background-image: none;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 2px;
      background-color: $color-white;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

.header__icons {
  display: flex;
  align-items: center;
  gap: 24px;
}

.phone-popup {
  position: relative;

  &__content {
    display: none;
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    margin-right: 16px;
    z-index: 10;

    &.is-open {
      display: flex;
      flex-direction: column;
      align-items: flex-starr;
      gap: 16px;
    }
  }

  &:hover &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  &__location {
    text-align: left;
    white-space: nowrap;
  }

  &__location-title {
    color: $color-white;
    font-family: $font-accent;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    margin-bottom: 2px;
    white-space: nowrap;
  }

  &__phone {
    display: block;
    color: $color-white;
    font-family: $font-accent;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-decoration: none;
    white-space: nowrap;
  }
}
