@import 'variable';

.museum-hours {
  box-sizing: border-box;
  margin: 0 auto 100px;
  padding: 0 20px;

  font-weight: 700;
  font-family: $font-accent;
  color: $color-main-dark;

  @media (min-width: $bp-tablet) {
    max-width: 600px;
    padding: 80px 40px;

    display: flex;
    align-items: flex-start;
    gap: $grid-gutter;
  }

  @media (min-width: $bp-desktop) {
    max-width: $grid-max-width;
    padding: 100px $grid-margin-desktop;
  }

  .container {
    @media (min-width: $bp-tablet) {
      display: flex;
      align-items: flex-start;
      gap: $grid-gutter;
    }
  }

  &__block-title {
    margin-top: 100px;

    @media (min-width: $bp-tablet) {
      margin-top: 0;
      flex: 0 0 40%;
    }
  }

  &__eyebrow {
    color: $color-accent;
    font-size: 12px;
    line-height: 140%;
    margin-bottom: 2px;
  }

  &__title {
    font-size: 32px;
    margin-bottom: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
  }

  &__locations {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (min-width: $bp-tablet) {
      flex: 1;
    }
  }

  &__location {
    margin-bottom: 24px;

    &:last-child {
      margin-top: 0;
    }
  }

  &__location-name {
    font-size: 24px;
    margin-bottom: 16px;
    line-height: 30px;
  }

  &__schedule {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
  }

  &__row {
    display: grid;
    grid-template-columns: minmax(90px, auto) 1fr;
    column-gap: 16px;
  }

  &__time {
    font-size: 16px;
    line-height: 27px;
  }

  &__days {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
  }

  &__info {
    font-size: 16px;
    line-height: 27px;
  }

  &__info-title {
    margin-bottom: 4px;
  }

  &__info-text {
    font-weight: 400;
    text-transform: uppercase;
    margin: 2px 0 0;
  }
}
