.header {
  height: 100vh;
  display: flex;
  flex-direction: column;

  padding: 36px 20px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-image: url('../images/header-bg-mobile.png');

  @media (min-width: 744px) {
    background-image: url('../images/header-bg.png');
    padding: 52px 40px;
  }

  @media (min-width: 1260px) {
    padding: 52px 120px 100px 120px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__logo {
    display: block;
    width: 87px;
    height: auto;
  }

  &__icons {
    display: flex;
    gap: 24px;
  }

  &__bottom {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
  }

  &__title {
    color: #ffffff;
    font-family: 'Cinzel', serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin: 0;
    letter-spacing: -1.5px;
    max-width: 280px;

    @media (min-width: 744px) {
      font-size: 64px;
      line-height: 64px;
      max-width: 392px;
    }

    @media (min-width: 1260px) {
      font-size: 80px;
      line-height: 80px;
      max-width: 498px;
    }
  }
}

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }

  &--phone {
    background-image: url('../icons/icon-phone-call.png');
  }

  &--menu {
    background-image: url('../icons/icon-burger-menu.png');
  }

  @media (min-width: 1260px) {
    width: 32px;
    height: 32px;
  }
}
