.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }

  &--phone {
    background-image: url('../icons/icon-phone-call.png');
  }

  &--menu {
    background-image: url('../icons/icon-burger-menu.png');
  }

  @media (min-width: 1260px) {
    width: 32px;
    height: 32px;
  }
}
