@import 'header';
@import 'menu';

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #000;
}



